@import "tailwindcss";

:root {
  --background: #F2F0EF;
  --foreground: #222222;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
  }
